/* Переменные */

:root {
    --accent-color: #2196F3;
    --headline-color: #212121;
    --main-text-color: #757575;
    --footer-bg-color: #2F303A;
    --main-icon-color: #AFB1B8;
    --form-label-color: #757575;
    --accent-white-color: #ffffff;
    --main-button-bg-color: #F5F4FA;
    --accented-button-color: #ffffff;
}

body {
    color: var(--main-text-color);
    background-color: var(--accent-white-color);
    
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Опциональные настройки списков */

.nav-list,
.auth-info,
.benefits-list,
.employment-list,
.workers-list,
.footer-address__list,
.filter-list,
.projects-list,
.regular-customers-list,
.workers-thumb,
.footer-soc-thumb,
.form-list {
    list-style-type: none;
}

/* Спрятанные заголовки */

.hiden-title {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden;
}


.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding:0 15px ;
    /* outline: red solid 1px; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: green solid 1px; */
}

/* Хедер */

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header--flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu {
    margin-left: 93px;
}

.nav-list {
    display: flex;
}

.auth-info {
    display: flex;
    margin-left: auto;
}

.logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.logo--accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo--accent.logo--dark {
    color: var(--headline-color);
}

.nav-list__link {
    position: relative;

    color: var(--headline-color);

    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__item:not(:first-child) {
    margin-left: 50px;
}

.nav-list__link:hover,
.nav-list__link:focus,
.footer-address__link:hover,
.footer-address__link:focus {
    color: var(--accent-color);
}

.nav-list__link::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    opacity: 0;
    background-color: var(--accent-color);
}

.nav-list__link.nav-list__link--current-page::after {
    opacity: 1;
}

.auth-info__link {
    display: flex;
    align-items: center;

    color: var(--main-text-color);

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-info__icon {
    fill:var(--main-text-color);
    margin-right: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .auth-info__link:hover,
 .auth-info__link:focus {
    color: var(--accent-color);
}

.auth-info__link:hover .auth-info__icon,
.auth-info__link:focus .auth-info__icon {
    fill: var(--accent-color);
}

.auth-info__item:not(:first-child) {
    margin-left: 50px;
}

/* Страница Студия */
/* Герой */

.hero-title {
    color: var(--accent-white-color);

    margin: 0 auto 30px;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;

    cursor: pointer;
}

.main-button-features {
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
}

.accent-button {
    color: var(--accent-white-color);
    background-color: var(--accent-color);
}

.filter-button {
    color: var(--headline-color);
    background-color: var(--main-button-bg-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button-features {
    font-weight: 500;
    line-height: 1.6;
    padding: 6px 22px;
    border-color: transparent;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--accent-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
}

.hero {
    background-color: var(--footer-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    max-width: 1600px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    /* visibility: hidden; */
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    background: var(--accent-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button {
    position: absolute;
    top: 8px;
    right: 8px;

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:hover .icon-close,
.close-modal-button:focus .icon-close {
    fill: var(--accent-color);
}

.modal-title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--headline-color);
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-item:not(:last-child) {
    margin-bottom: 10px;
}

.form-item:last-child {
    margin-bottom: 20px;
}

.input-field-thumb {
    position: relative;
    width: 100%;
}

.label-field {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: var(--form-label-color);
}

.input-field {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
    outline: 1px solid var(--accent-color);
}

.input-field:focus-within + .icon-form{
    fill: var(--accent-color);
}

.text-area {
    height: 120px;
    resize: none;
    padding: 12px 16px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.text-area::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-thumb {
    display: flex;
    align-items: center;
}

.checkbox-thumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkbox-field {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-icon {
    margin-right: 8px;
}

.checkbox-field:not(:checked) + .checkbox-icon{
    fill: transparent;
    border: 2px solid var(--headline-color);
    border-radius: 2px;
}

.checkbox-field:checked + .checkbox-icon{
    fill: var(--accent-color);
}


.checkbox-label-field {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--form-label-color);
}

.privacy-policy-link {
    color: var(--accent-color);
}

.submit-button-features {

    padding: 10px 55px 10px 56px;
    margin-top: 30px;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: none;
}

/* Наши преимущества */

.benefit-title {
    color: var(--headline-color);

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefit-text {
    color: var(--main-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.benefits-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-item {
    max-width: 270px;
}

.benefits-item:not(:first-child) {
    margin-left: 30px;
}

.icon-benefits-box {
    padding-top: 25px;
    padding-bottom: 25px;
}

.thumb-benefits {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--main-button-bg-color);
    border-radius: 4px;

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

/* Чем мы занимаемся */

.employment {
    padding-top: 0;
}

.employment-title {
    color: var(--headline-color);

    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.employment-list {
    display: flex;
    justify-content: center;
}

.employment-item:not(:first-child) {
    margin-left: 30px;
}

.employment-thumb {
    position: relative;
}

.employment-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.employment-overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    /* text-align: center; */
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--accent-white-color);
}
/* Наши работники */

.workers {
    background-color: var(--main-button-bg-color);
}

.workers-title,
.regular-customers-title {
    color: var(--headline-color);

    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.workers-name {
    color: var(--headline-color);

    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.workers-position {
    color: var(--main-text-color);

    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.workers-list {
    display: flex;
}

.workers-item:not(:first-child) {
    margin-left: 30px;
}

.card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-bottom {
    background-color: var(--accent-white-color);
    padding: 30px 0;
    border-radius: 0px 0px 4px 4px;
}

.project-card-bottom {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.workers-thumb {
    display: flex;
    justify-content: center;

    margin-top: 16px;
}

.workers-thumb-item:not(:first-child) {
    margin-left: 10px;
}

.soc-med-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-med-link:hover,
.soc-med-link:focus {
    background-color: var(--accent-color);
}

.soc-med-link:hover .soc-med-icon,
.soc-med-link:focus .soc-med-icon {
    fill: var(--accent-white-color);
}

.soc-med-icon {
    fill: var(--main-icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Постоянные клиенты */

.regular-customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regular-customers-item:not(:first-child) {
    margin-left: 30px;
}

.regular-customers-item {
    width: 170px;
    height: 92px;
}

.regular-customers-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border: 1px solid var(--main-icon-color);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icon {
    fill: var(--main-icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-link:hover,
.regular-customers-link:focus {
    border-color: var(--accent-color);
}

.regular-customers-link:hover .regular-customers-icon,
.regular-customers-link:focus .regular-customers-icon {
    fill: var(--accent-color);
}

/* Футер */

.page-footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
}

.footer-address {
    margin-top: 20px;
}

.logo--accent.logo--light {
    color: var(--accent-white-color);
}

.adress-item:not(:first-child) {
    margin-top: 9px;
}

.footer-address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link--geo {
    color: var(--accent-white-color);
}

.footer-address__link--mail,
.footer-address__link--tel {
    color: rgba(255, 255, 255, 0.6);
}

.footer-soc-thumb {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.footer-soc-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-white-color);
}

.page-footer--flex {
    display: flex;
    align-items: baseline;
}

.footer-item:not(:first-child) {
    margin-left: 70px;
}

.footer-icon {
    fill: var(--accent-white-color);
}

.footer-icon-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-mail-thumb {
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.apply-button-features {
    display: flex;
    align-items: center;

    padding: 10px 28px 10px 29px;
    margin-left: 12px;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: none;
}

.footer-mail-input {
    height: 50px;
    min-width: 358px;
    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.icon-send {
    margin-left: 10px;
}

/* Страница Портфолио */
/* Фильтр */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:first-child) {
    margin-left: 8px;
}

/* Проекты */

.projects-desc-title{
    color: var(--headline-color);

    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-group {
    color: var(--main-text-color);

    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-item {
    /* flex-basis: 33.3333%; */
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.projects-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project-link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.projects-card-top {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .card-overlay,
.project-link:focus .card-overlay {
    transform: translateY(0);
}

.card-overlay-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--accent-white-color);
}